In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import os
os.chdir('C:/Users/felix/Desktop/NanoDegree')

df = pd.read_csv("./calendar.csv")
df.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2015,2020-10-21,t,$54.00,$54.00,29.0,1125.0
1,68142,2020-10-20,f,$29.00,$29.00,2.0,30.0
2,68142,2020-10-21,f,$29.00,$29.00,2.0,30.0
3,68142,2020-10-22,f,$29.00,$29.00,2.0,30.0
4,68142,2020-10-23,f,$29.00,$29.00,2.0,30.0

In [1]:
os.getcwd()

'c:\\Users\\felix\\Documents\\GitHub\\airbnb_berlin_insights'